.navbar .nav-item .nav-link {

    color:white;

}

 h1{
     text-align: center;
     font-family: 'Arial Narrow';
 }

 p{
    text-align:justify;
    font-family: 'Arial';
 }

 p1{
    text-align: justify;
    font-family: 'Arial';
 }

 h2{
    text-align: center;
    font-family: 'Arial Narrow';
 }

 h3{
    font-family: 'Arial';
    size: 3px;
 }

.main-header{
    position: relative;
    background: url(../img/logo1.png);
    background-size: cover;
    min-height: 100%;
}

.background-overley {
    position: absolute;
    background: rgba(48, 51, 107, 1.0);
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.text-ligth{

    color: var(--white)  !important;
}

.main-header{
    position: relative;
    background: url(../img/logo1.png);
    background-size: cover;
    min-height: 100%;
}